.list {
  width: 100%;
}

mat-form-field, .todo-title {
  width: 80%;
  margin-right: 10px;
}
button {
  margin: 10px;
}

.todo-title:hover {
  cursor: pointer;
  background-color: lightgray;
}

.selected {
  text-decoration-line: line-through;
}
